<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="chat-area">
        <div class="chat_icon">
            <i id="shop_model_chat" class="fas fa-comment-dots"></i>
        </div>
        <div style="display: none;" class="chat_window">
            <div class="top_menu">
                <div class="buttons">
                    <div class="button maximize" title="Maximize"></div>
                    <div class="button minimize " title="Minimize"></div>
                    <div class="button close" title="Close"></div>
                </div>
                <div class="title">Chat</div>
            </div>
            <ul class="messages">
                <li id="messageArea" class="message left appeared">
                    <div class="avatar"></div>
                    <div class="text_wrapper">
                        <div class="text">Please contact us! To purchase. We are always waiting for you (:)</div>
                    </div>
                </li>
            </ul>
            <div class="bottom_wrapper clearfix">
                <div class="message_input_wrapper"><input id="message_input" class="message_input" placeholder="Type your message here..." /></div>
                <div id="send_message" class="send_message">
                    <div class="icon"></div>
                    <div class="text">Send</div>
                </div>
            </div>
        </div>
        <div class="message_template">
            <li class="message">
                <div class="avatar"></div>
                <div class="text_wrapper">
                    <div class="text"></div>
                </div>
            </li>
        </div>
    </div>
</body>
</html>