<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<!--================ Start Head Link Area =================-->
<head th:fragment="head-link">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aroma Shop - Home</title>
    <link rel="icon" th:href="@{img/Fevicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{vendors/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" th:href="@{vendors/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{vendors/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{vendors/nice-select/nice-select.css}">
    <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.carousel.min.css}">

    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/custom.css}">
</head>
<!--================ End head link =================-->

<!--================ Start Header Menu Area =================-->
<header th:fragment="header-area"  class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" th:href="@{index.html}"><img src="img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" th:href="@{/home}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/shop}">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                        <li style="transition: all 0s ease-in-out;" id="login-user" class="nav-item"><a class="nav-link" th:href="@{/login}">Login</a></li>
                    </ul>

                    <ul class="nav-shop">
                        <li style="transition: all 0s ease-in-out;" id="logout-user" class="nav-item"><button><i class="ti-user"></i></button>
                            <ul class="dropdown-menu user">
                                <li>
                                    <h6>HELLO! Mr. <span id="name-user">Jhon Smith</span></h6>
                                </li>
                                <li><a onclick="loadPageCast()">MY CART</a></li>
                                <li><a href="#">ACCOUNT INFO</a></li>
                                <li><a onclick="logoutUser()">LOG OUT</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><button><i class="ti-search"></i></button></li>
                        <li onclick="loadPageCast()" class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button>
                            <ul class="dropdown-menu">
                                <ul id="box-up-lst-prodcut-in-cast" >
                                    <p style="text-align: center">You have no items in the basket</p>
                                </ul>
                                <li>
                                    <h5 class="text-center">SUBTOTAL: <span>0</span> USD</h5>
                                </li>
                                <li class="margin-0">
                                    <div class="row">
                                        <div class="col-xs-6"> <a href="shopping-cart.html" class="btn">VIEW CART</a></div>
                                        <div class="col-xs-6 "> <a href="checkout.html" class="btn">CHECK OUT</a></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="button button-header" th:href="@{#}">Buy Now</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================ End Header Menu Area =================-->

</html>