<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<!--================ Start Head Link Area =================-->
<head th:fragment="head-link">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <meta name="_csrf" content="" th:content="${_csrf.token}" th:if="${_csrf}"/>-->
<!--    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}" th:if="${_csrf}"/>-->

    <title class="title-page">Aroma Shop</title>
    <link rel="icon" th:href="@{img/Fevicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{vendors/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" th:href="@{vendors/fontawesome/css/all.min.css}">
    <link rel="stylesheet" th:href="@{vendors/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{vendors/nice-select/nice-select.css}">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.carousel.min.css}">
    <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/custom.css}">
    <link rel="stylesheet" th:href="@{css/chat.css}">
</head>
<!--================ End head link =================-->

<!--================ Start Header Menu Area =================-->
<header th:fragment="header-area"  class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" th:href="@{/home}"><img src="img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item home"><a class="nav-link" th:href="@{/home}">Home</a></li>
                        <li class="nav-item shop"><a class="nav-link" th:href="@{/shop}">Shop</a></li>
                        <li class="nav-item contact"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                        <li style="transition: all 0s ease-in-out;" id="login-user" class="nav-item">
                            <div class="nav-link" ><a class="login" th:href="@{/login}">Login</a>
                                /<a class="register" th:href="@{/register}">Register</a></div>
                        </li>
                    </ul>

                    <ul class="nav-shop dropdown">
                        <li style="transition: all 0s ease-in-out;" id="logout-user" class="nav-item"><button id="user-menu" type="button" data-toggle="dropdown"><i class="ti-user"></i></button>
                            <ul class="dropdown-menu user" aria-labelledby="user-menu">
                                <li>
                                    <h6>HELLO! Mr. <span id="name-user">Jhon Smith</span></h6>
                                </li>
                                <li><a onclick="loadPage('cart')">MY CART</a></li>
                                <li><a onclick="loadPage('/tracking-order')">TRACKING ORDER</a></li>
                                <li><a onclick="loadPage('account-info')">ACCOUNT INFO</a></li>
                                <li><a onclick="logoutUser()">LOG OUT</a></li>
                            </ul>
                        </li>
<!--                        <li class="nav-item"><button id="search-all-page"><i class="ti-search"></i></button></li>-->
                        <li class="nav-item"><button id="cart-menu" type="button" data-toggle="dropdown"><i class="ti-shopping-cart"></i><span id="total-cast" class="nav-shop__circle">0</span></button>
                            <ul class="dropdown-menu" aria-labelledby="cart-menu">
                                <ul id="box-up-lst-prodcut-in-cast" >
                                    <p style="text-align: center">You need to log in to see the product</p>
                                </ul>
                                <li>
                                    <h5 class="text-center">SUBTOTAL:   <span id="price-number">0</span></h5>
                                </li>
                                <li class="margin-0">
                                    <div class="row">
                                        <div class="col-xs-6"> <a onclick="loadPage('cart')" class="btn">VIEW CART</a></div>
                                        <div class="col-xs-6 "> <a th:href="@{/checkout}" class="btn">CHECK OUT</a></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><button  id="favourite-menu" type="button" data-toggle="dropdown"><i class="ti-heart"></i><span id="total-favourite" class="nav-shop__circle">0</span></button>
                            <ul class="dropdown-menu" aria-labelledby="favourite-menu">
                                <ul id="box-up-lst-prodcut-in-favourite">
                                    <p style="text-align: center">You need to log in to see the product</p>
                                </ul>
                                <li class="margin-0">
                                    <div class="w-100 text-center"> <a onclick="loadPage('favourite')" class="w-75  btn">VIEW FAVOURITE</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="button button-header" onclick="loadPage('cart')">Buy Now</a></li>
                    </ul>
                </div>
            </div>
<!--            <div class="search_input" style="display: none;" aria-labelledby="search-menu" id="search_input_box">-->
<!--                <div class="container">-->
<!--                    <form class="d-flex justify-content-between search-inner">-->
<!--                        <input type="text" class="form-control" id="search_input" placeholder="Search Here">-->
<!--                        <button type="submit" class="btn"></button>-->
<!--                        <span class="ti-close" id="close_search" title="Close Search"></span>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
        </nav>
    </div>
</header>
<!--================ End Header Menu Area =================-->


</html>