<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<!--================ Start head link =================-->
<head th:replace="/component/header :: head-link"></head>
<!--================ End head link =================-->
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/component/header :: sidebar-area"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="/component/header :: topbar-area"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">List User</h1>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group clearfix">
                            <div class="row">
                                <label class="col-sm-6 control-label no-padding-right p_top"> User Name </label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" id="username" placeholder="User Name" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="row">
                                <label class="col-sm-6 control-label no-padding-right p_top"> Email </label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" id="email" placeholder="Email" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group clearfix">
                            <div class="row">
                                <label class="col-sm-6 control-label no-padding-right p_top"> Full Name </label>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" id="fullName" placeholder="Full Name" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="row">
                                <label class="col-sm-6 control-label no-padding-right p_top">Status </label>
                                <div class="col-sm-6">
                                    <select class="select2 form-control" name="status" id="status">
                                        <option value="">All</option>
                                        <option value="1">Activate</option>
                                        <option value="2">Lock</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="clearfix mt-2 mb-5 w-100 form-actions text-center">
                        <button type="button" class="btn btn-primary" onclick="doSearch();">Search</button>
                        <a th:href="@{/user/add}" class="btn btn-warning">Add user</a>
                    </div>
                </div>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="overlay" id="tblLoading">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                            <table class="table table-bordered" id="table_list" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>User Name</th>
                                    <th>Full Name</th>
                                    <th>Roles Group</th>
                                    <th>Image User</th>
                                    <th>Sex</th>
                                    <th>Status</th>
<!--                                    <th>List Favourite</th>-->
                                    <th>Option</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>NO</th>
                                    <th>User Name</th>
                                    <th>Full Name</th>
                                    <th>Roles Group</th>
                                    <th>Image User</th>
                                    <th>Sex</th>
                                    <th>Status</th>
<!--                                    <th>List Favourite</th>-->
                                    <th>Option</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="/component/footer :: footer-area"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="/component/footer :: page-top"></a>

<!-- Logout Modal-->
<a th:replace="/component/footer :: logout-model"></a>

<!-- Script -->
<footer th:replace="/component/footer :: script-area"></footer>
<!-- End of Script -->

<!-- DataTables -->
<script th:inline="javascript">
    //<![CDATA[
    var lstUser = [[${lstUser}]];
    console.log(lstUser);
    // var token = $("meta[name='_csrf']").attr("content");
    // var header = $("meta[name='_csrf_header']").attr("content");
    // var dtViLang = /*[[@{/plugins/datatables/extensions/i18n/vi.json}]]*/ "plugins/datatables/extensions/i18n/vi.json";
    var searchUrl = /*[[@{/user/search}]]*/ "/user/search";
    var updateUserUrl = /*[[@{/user/update_user/}]]*/ "/user/update_user/";
    var editUserUrl = /*[[@{/user/edit/}]]*/ "/user/edit/";

    /**
     * Chuc nang tim kiem, tai lai bang du lieu dua theo thong tin loc
     * */
    jQuery(document).ready(function () {
        var tblUser = $('#table_list').DataTable({
            "data": lstUser,
            searching: true,
            bPaginate: true,
            bAutoWidth: false,
            bLengthChange: true,
            "lengthMenu": [10, 25, 50, 100],
            bSort: true,
            order: [1, "desc"],
            pageLength: 10,
            "processing": false,
            "serverSide": false,
            "ajax": {
                "url": searchUrl,
                "data": function (d) {
                    d.username = $("#username").val().trim();
                    d.fullName = $("#fullName").val().trim();
                    d.email = $("#email").val().trim();
                    d.status = $("#status").val().trim();
                },
                beforeSend: function (xhr) {
                    $("#tblLoading").css("display", "block");
                },
                complete: function () {
                    $("#tblLoading").css("display", "none");
                },
                error: function (xhr, status, error) {
                    toastr.error("An error occurred during data download");
                }
            },
            columns: [
                {"data": "userId"},
                {"data": "username"},
                {"data": "fullName"},
                {"data": "roleID"},
                {"data": "image"},
                {"data": "sex"},
                {"data": "status"},
                // {"data": "favourite"}
            ],
            columnDefs: [
                // {
                //     "render": function (data, type, row) {
                //         return lstUser.find(x => x.roleID === row.roleID).roleCode;
                //     },
                //     "targets": 4
                // },
                {
                    "render": function (data, type, row) {
                        return `<img src='${row.image}' type="" />`;
                    },
                    "targets": 4
                },
                {
                    "render": function (data, type, row) {
                        if (row.sex === 1) {
                            return "Male";
                        } else {
                            return "Female";
                        }
                    },
                    "targets": 5
                },
                {
                    "render": function (data, type, row) {
                        if (row.status === 1) {
                            return "Action";
                        } else {
                            return "Lock";
                        }
                    },
                    "targets": 6
                },
                {
                    "render": function (data, type, row) {
                        var content = "";
                        if (true) {
                            content += '<a class="blue" href="'+editUserUrl +row.username + '" data-toggle="tooltip" title="Edit info user"> <i class="default-icon fas fa-pencil-alt bigger-130"></i> </a>';
                            if (row.status !== 1) {
                                content += '&nbsp;<a class="blue" ' +
                                    'onclick="updateUser(\'' + row.username + '\',1);" ' +
                                    'data-toggle="tooltip" title="Uplock user">' +
                                    '<i class="fa fa-unlock"></i>' +
                                    '</a></div>';
                            } else {
                                content += '&nbsp<a class="red" ' +
                                    'onclick="updateUser(\'' + row.username + '\',2);" ' +
                                    'data-toggle="tooltip" title="Lock user">' +
                                    '<i class="fa fa-ban"></i>' +
                                    '</a>';
                            }
                            content += '&nbsp;&nbsp;<a class="blue" ' +
                                'onclick="updateUser(\'' + row.username + '\',-1);" ' +
                                'data-toggle="tooltip" title="Reset pass">' +
                                '<i class="fas fa-sync-alt"></i>' +
                                '</a>';
                        }

                        return content;
                    },
                    "targets": 7
                },
                {'bSortable': false, 'aTargets': ["no-sort"]}
            ]
        });

        //Dat gia tri cho cot index (STT) moi lan sap xep bang
        tblUser.on('order.dt search.dt', function () {
            tblUser.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

    });

    function doSearch() {
        $("#table_list").DataTable().ajax.reload();
    }

    function updateUser(id, status) {
        if (id !== undefined && status !== undefined) {
            if (status === 2) {
                showDialogConfirm("Xác nhận khóa người dùng " + id, "Bạn chắc chắn muốn đổi trạng thái tài khoản này?");
            } else if (status === 1) {
                showDialogConfirm("Xác nhận mở khóa người dùng" + id, "Bạn chắc chắn muốn đổi trạng thái tài khoản này?");
            } else if (status === -1) {
                showDialogConfirm("Xác nhận cấp lại mật khẩu cho người dùng" + id, "Bạn chắc chắn muốn cấp lại mật khẩu cho tài khoản này?");
            }
            $("#dialogConfirm #btnConfirm").off().click(function () {
                $("#dialogConfirm").modal('hide');
                var datajson = {"id": id, "status": status};
                $.ajax({
                    type: "POST",
                    url: updateUserUrl,
                    traditional: true,
                    data: datajson,
                    success: function (data) {
                        if (data === 1) {
                            if (status !== -1) {
                                alert("Đổi trạng thái Người dùng thành công!");
                                doSearch();
                            } else {
                                alert("Cấp lại mật khẩu cho người dùng thành công!");
                            }
                            //$("#table_list").DataTable().ajax.reload();
                        } else {
                            if (status !== -1) {
                                alert("Đổi trạng thái Người dùng thất bại. Vui lòng thử lại sau!");
                            } else {
                                alert("Cấp lại mật khẩu cho người dùng thất bại. Vui lòng thử lại sau!");
                            }
                        }
                    },
                    error: function () {
                        alert("Có lỗi xảy ra. Vui lòng thử lại sau!");
                    }
                });
                stopEventPropagation(event);
            });
        }
    }
</script>
</body>

</html>
