<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<!--================ Start head link =================-->
<head th:replace="/component/header :: head-link"></head>
<!--================ End head link =================-->

<body>
  <!--================ Start Header Menu Area =================-->
  <header th:replace="/component/header :: header-area"></header>
  <!--================ End Header Menu Area =================-->

  <!--================ Start Banner Area =================-->
  <section th:replace="/component/header :: banner-area"></section>
  <!--================ End Banner Area =================-->

	<!-- ================ category section start ================= -->		  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Browse Categories</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form id="find-type">
                  <ul>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="all-type" name="type" value=""><label for="all-type">All</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="cabinets" name="type" value="0"><label for="cabinets">Cabinets</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="desk" name="type" value="1"><label for="desk">Desk</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="decorate" name="type" value="2"><label for="decorate">Decorate</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="belongings" name="type" value="3"><label for="belongings">Belongings</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="sofa" name="type" value="4"><label for="sofa">Sofa</label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="lamp" name="type" value="5"><label for="lamp">Lamp</label></li>
                  </ul>
                </form>
              </li>
            </ul>
          </div>
          <div class="sidebar-filter">
            <div class="top-filter-head">Product Filters</div>
            <div class="common-filter">
              <div class="head">Materials</div>
              <form id="find-material" >
                <ul>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="all-material" name="material" value=""><label for="all-material">All</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="wood" name="material" value="0"><label for="wood">Wood</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="plastic" name="material" value="1"><label for="plastic">Plastic</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="glass" name="material" value="2"><label for="glass">Glass</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="piastic-alloy" name="material" value="3"><label for="piastic-alloy">Titanium alloy</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="iron" name="material" value="4"><label for="iron">Iron</label></li>
                </ul>
              </form>
            </div>
            <div class="common-filter">
              <div class="head">Color</div>
              <form id="find-color">
                <ul>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="all-color" name="color" value=""><label for="all-color">All</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color" value="1"><label for="black">Black</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="yellow" name="color" value="2"><label for="yellow">White</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="white" name="color" value="3"><label for="white">Yellow</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="blue" name="color" value="4"><label for="blue">Blue</label></li>
                </ul>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting">
              <select name="select" onchange="sortProduct()" id="sortBydate">
                <option value="1">Day</option>
                <option value="2">From high price to low price</option>
                <option value="3">From low price to high price</option>
              </select>
            </div>
            <div class="sorting mr-auto">
            </div>
            <div>
              <div class="input-group filter-bar-search">
                <input type="text" id="keysearch" onkeyup="debounceSearchProduct(0)" placeholder="Search">
                <div class="input-group-append">
                  <button onclick="searchProduct(0)" type="button"><i class="ti-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Filter Bar -->
          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list">
            <div id="lst-product" class="row">
            </div>
            <!-- Pagination -->
            <ul id="pagination" class="pagination in-center">
            </ul>
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
	<!-- ================ category section end ================= -->		  

	<!-- ================ top product area start ================= -->	
	<section class="related-product-area">
		<div class="container">
			<div class="section-intro pb-60px">
        <p>Popular Item in the market</p>
        <h2>Top <span class="section-intro__style">Product</span></h2>
      </div>
          <div id="top-product" class="row mt-30">

          </div>
      </div>
	</section>
	<!-- ================ top product area end ================= -->		

	<!-- ================ Subscribe section start ================= -->		  
  <section class="subscribe-position">
    <div class="container">
      <div class="subscribe text-center">
        <h3 class="subscribe__title">Get Update From Anywhere</h3>
        <p>Bearing Void gathering light light his eavening unto dont afraid</p>
        <div id="mc_embed_signup">
          <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1">
            <div class="form-group ml-sm-auto">
              <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" >
              <div class="info"></div>
            </div>
            <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
            <div style="position: absolute; left: -5000px;">
              <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
            </div>

          </form>
        </div>
        
      </div>
    </div>
  </section>
	<!-- ================ Subscribe section end ================= -->

  <!--================ Start chat Area  =================-->
  <footer th:replace="/component/chat :: chat-area"></footer>
  <!--================ End chat Area  =================-->

  <!--================ Start footer Area  =================-->
  <footer th:replace="/component/footer :: footer-area"></footer>
  <!--================ End footer Area  =================-->
  <!-- Chat js -->
  <script th:src="@{/js/chat.js}"></script>

</body>
</html>