<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
<!--================ Start head link =================-->
<head th:replace="/component/header :: head-link"></head>
<!--================ End head link =================-->

<body>
	<!--================ Start Header Menu Area =================-->
	<header th:replace="/component/header :: header-area"></header>
	<!--================ End Header Menu Area =================-->

	<!--================ Start Banner Area =================-->
	<section th:replace="/component/header :: banner-area"></section>
	<!--================ End Banner Area =================-->
  
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="button button-account" th:href="@{/register}">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" id="contactForm" >
							<label class="error" style="color: #777;margin: 15px" th:if="${param.error != null}">Login information is not valid. Please check again!</label>
							<label class="error" style="color: #777;margin: 15px" th:if="${param.lock != null}">Username has been locked because of wrong password in succession 5 times</label>
							<div class="col-md-12 form-group">
								<input onkeypress="loginUser(event)" type="text" class="form-control" id="username" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input onkeypress="loginUser(event)" type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
								<i class="hide-eye-pass eye-pass fas fa-eye-slash"></i>
								<i class="show-eye-pass eye-pass fas fa-eye"></i>
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Keep me logged in</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="button" onclick="loginCickUser()"  value="button" class="button button-login w-100">Log In</button>
								<a href="#">Forgot Password?</a>
							</div>
							<div class="col-md-12 form-group">
								<a href="index.html" class="btn btn-success btn-user btn-block">
									<i class="fab fa-google fa-fw"></i> Login with Google
								</a>
							</div>
							<div class="col-md-12 form-group">
								<a href="index.html" class="btn btn-primary btn-user btn-block">
									<i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->



	<!--================ Start footer Area  =================-->
	<footer th:replace="/component/footer :: footer-area"></footer>
	<!--================ End footer Area  =================-->
</body>
</html>