<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- Footer -->
    <footer th:fragment="footer-area" class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2020</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    <!-- Scroll to Top Button-->
    <a th:fragment="page-top" class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:fragment="logout-model" class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" th:href="@{/login}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmation-->
    <div th:fragment="dialog_confirm" id="dialogConfirm" title="Confirm?" class="modal fade" role="dialog"
         data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <span id="confirm_title">Xác nhận</span>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" id="confirm_content">Are you sure?</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnConfirm">Confirm</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="modalMessage" id="modalMessage" title="Modal form" class="modal fade reload_modal" role="dialog"
         data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <span id="title">Xác nhận</span>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" id="content">Bạn có chắc chắn không?</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-primary" id="btnConfirm">Xác nhận</button>-->
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Script -->
    <div th:fragment="script-area">
        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<!--        chat websocket-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Page level plugins -->
        <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

        <!-- Page level custom scripts -->
        <script th:src="@{/js/demo/datatables-demo.js}"></script>

        <!-- bootstrap datepicker -->
        <script src="../../static/vendor/datepicker1.6.4/js/bootstrap-datepicker.min.js" th:src="@{/vendor/datepicker1.6.4/js/bootstrap-datepicker.min.js}"></script>
<!--        <script src="../../static/js/select-option.js" th:src="@{/js/select-option.js}"></script>-->

        <!-- Custom scripts for all pages-->
        <script th:src="@{/js/main.js}"></script>
        <script th:src="@{/js/sb-admin-2.min.js}"></script>
        <script th:src="@{/js/ott.js}"></script>
        <script th:src="@{/js/constant.js}"></script>
    </div>
    <!-- End of Script -->

</body>
</html>