<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<!--================ Start head link =================-->
<head th:replace="/component/header :: head-link"></head>
<!--================ End head link =================-->

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form th:action="@{/login}" method="post" autocomplete="off" id="login_form" class="user">
                    <label class="error" style="color: #777;margin: 15px;width: 100%;font-size: 15px;" th:if="${param.error != null}">Login information is not valid. Please check again!</label>
                    <label class="error" style="color: #777;margin: 15px;width: 100%;font-size: 15px;" th:if="${param.lock != null}">Username has been locked because of wrong password in succession 5 times</label>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" autofocus="autofocus" name="username" id="username" aria-describedby="emailHelp"  maxlength="30" placeholder="Enter Account Address...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Password" >
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Login
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="user/forgot-password">Forgot Password?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Script -->
  <footer th:replace="/component/footer :: script-area"></footer>
  <!-- End of Script -->
  <script src="../../static/vendor/jqueryValidator/jquery.validate.min.js" th:src="@{/vendor/jqueryValidator/jquery.validate.min.js}"></script>
  <!-- OTT application -->
  <script src="../static/js/ott.js" th:src="@{/js/ott.js}"></script>
  <script th:inline="javascript">
    jQuery(document).ready(function () {
      $('#login_form').keydown(function(event) {
        // enter has keyCode = 13, change it if you want to use another button
        if (event.keyCode == 13) {
          $("#login_form").submit();
        }
      });
      $("#login_form").validate({
        focusInvalid: true, // focus the last invalid input
        ignore: [],
        rules: {
          username: {
            required: true,
          },
          password: {
            required: true,
            minlength: 8
          },
        },
        messages: {
          username: "Username field must not be blank",
          password: {
            required: "Password field must not be blank",
            minlength: "Password must be between 8 characters. Please check again"
          }
        }
      });
    });
  </script>
</body>

</html>
