<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<!--================ Start head link =================-->
<head th:replace="/component/header :: head-link"></head>
<!--================ End head link =================-->
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/component/header :: sidebar-area"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="/component/header :: topbar-area"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800" th:text="${titlePage}"></h1>
                </div>

                <!-- Content Row -->
                <div class="main-content">
                    <div style="margin-bottom: 50px;" class="breadcrumbs" id="breadcrumbs">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a th:href="@{/home}"><i class="default-icon fa fa-home home-icon"></i>  Home</a>
                                </li>
                                <li class="breadcrumb-item"><a th:href="@{/product/list}">List Product</a></li>
                                <li class="breadcrumb-item active" th:text="${titlePage}" aria-current="page">Data</li>
                            </ol>
                        </nav>
                        <!-- /.breadcrumb -->
                    </div>
                    <div class="page-content">
                        <div class="page-content-area">
                            <!-- /.page-header -->
                            <div class="col-xs-12 p-4">
                                <div th:replace="component/header::notice_box"></div>

                                <form id="formInsert" name="formInsert" th:object="${product}" method="POST"
                                      class="form-horizontal form-row-seperated">
                                    <div th:replace="/component/header::alert-sub"></div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Name Product (<span class="text-red">*</span>) </label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="name" th:field="*{name}" maxlength="100" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Price product (<span class="text-red">*</span>) </label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" name="price" th:field="*{price}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Price For Color (<span class="text-red">*</span>) </label>
                                            <div class="col-sm-9">
                                                <div class="tabbable">
                                                    <ul class="nav nav-tabs" id="myTab" >
                                                        <li class="active">
                                                            <p data-toggle="tab">
                                                                Color for price
                                                            </p>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content mt-4">
                                                        <div id="colorForPrice" class="tab-pane active">
                                                            <div class="control-group">
                                                                <div th:if="${product.id != null}" th:each="colorPrice, iterStat : ${product.priceForColor}" class="checkbox">
                                                                    <label>
                                                                        <input th:disabled="${titlePage} == 'View info product'" th:name="idColor" th:value="${colorPrice.color}" type="checkbox" class="ace"
                                                                               th:checked="${product.priceForColor != null}"/>
                                                                        <input class="price-color"  th:disabled="${titlePage} == 'View info product'" th:name="priceColor"
                                                                               th:value="${colorPrice.priceForColor}" type="number"/>
                                                                        <span class="lbl" th:text="${'&nbsp;' + colorPrice.nameColor}"> Choice</span>
                                                                    </label>
                                                                </div>
                                                                <div th:if="${product.id == null}" class="checkbox">
                                                                    <label>
                                                                        <input th:name="idColor" value="1" type="checkbox" class="ace"/>
                                                                        <input class="price-color" th:name="priceColor" type="number"/>
                                                                        <span class="lbl"> Black</span>
                                                                    </label>
                                                                </div>
                                                                <div th:if="${product.id == null}" class="checkbox">
                                                                    <label>
                                                                        <input th:name="idColor" value="2" type="checkbox" class="ace"/>
                                                                        <input class="price-color" th:name="priceColor" type="number"/>
                                                                        <span class="lbl"> White</span>
                                                                    </label>
                                                                </div>
                                                                <div th:if="${product.id == null}" class="checkbox">
                                                                    <label>
                                                                        <input th:name="idColor" value="3" type="checkbox" class="ace"/>
                                                                        <input class="price-color" th:name="priceColor" type="number"/>
                                                                        <span class="lbl"> Yellow</span>
                                                                    </label>
                                                                </div>
                                                                <div th:if="${product.id == null}" class="checkbox">
                                                                    <label>
                                                                        <input th:name="idColor" value="4" type="checkbox" class="ace"/>
                                                                        <input class="price-color" th:name="priceColor" type="number"/>
                                                                        <span class="lbl"> Blue</span>
                                                                    </label>
                                                                </div>
                                                                <div th:if="${product.id == null}" class="checkbox">
                                                                    <label>
                                                                        <input th:name="idColor" value="5" type="checkbox" class="ace"/>
                                                                        <input class="price-color" th:name="priceColor" value="Other" type="number"/>
                                                                        <span class="lbl"> Other</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Description Product (<span class="text-red">*</span>) </label>
                                            <div class="col-sm-9">
                                                <textarea type="text" class="form-control" name="description" th:field="*{description}" rows="3" maxlength="300"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Detailed Description Product (<span class="text-red">*</span>)</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" class="form-control" name="longDescription" th:field="*{longDescription}" rows="6" maxlength="2000"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Image User (<span class="text-red">*</span>)</label>
                                            <div class="col-sm-9">
                                                <div class="tabbable">
                                                    <ul class="nav nav-tabs" >
                                                        <li class="active">
                                                            <h5 data-toggle="tab">
                                                                Image product
                                                            </h5>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content mt-2">
                                                        <div id="chkImage" class="tab-pane active">
                                                            <div id="content-image" class="control-group">
                                                                <div th:each="image : ${product.image}" th:name="chkImage" class="chkImage checkbox d-inline-block">
                                                                    <label class="image" style="position: relative;">
                                                                        <img width="100" height="100" th:src="${image}" th:name="chkImage" alt="Image Product">
                                                                        <input type="hidden" th:value="${image}" th:name="chkImage" class="image mt-2">
                                                                        <label class="image-remove" th:if="${product.id} != null and ${titlePage} != 'View info product'">&#967;</label>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="btn-img">
                                                                <input th:if="${titlePage} != 'View info product'" type="file" class="imgproduct mt-2" name="imgproduct" id="imgproduct"/>
                                                                <label th:if="${titlePage} != 'View info product'" class="btn-img" for="imgproduct">Choose image</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Promotion priduct </label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" th:field="*{promotion.name}" th:name="promotionName" id="promotionName" maxlength="100"/>
                                                <input type="number" class="form-control" th:field="*{promotion.percent}" th:name="promotionPercent" id="promotionPercent" maxlength="3"/>
                                                <p th:text="${product.promotion != null ? product.promotion.createAt : '00/00/0000'}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Category product (<span class="text-red">*</span>)</label>
                                            <div class="col-sm-9">
                                                <select class="select2 selectpicker form-control" name="category" id="category">
                                                    <option value="">--Option Caterory--</option>
                                                    <option  th:each="category : ${lstCategory}" th:data-thumbnail="${category.iconCategory}"
                                                             th:selected="${(product.type != null ? product.type.type : 9) == category.id}"
                                                             th:text="${category.contentCategory}" th:value="${category.id}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Material product (<span class="text-red">*</span>)</label>
                                            <div class="col-sm-9">
                                                <select class="select2 selectpicker form-control" name="material" id="material">
                                                    <option value="">--Option Material--</option>
                                                    <option th:each="material : ${lstMaterial}" th:data-thumbnail="${material.iconMaterial}"
                                                            th:selected="${(product.type != null ? product.type.material : 9) == material.id}"
                                                            th:value="${material.id}" th:text="${material.contentMaterial}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Width  </label>
                                            <div class="col-sm-9">
                                                <input type="number"  class="form-control" th:field="*{type.width}" name="width" id="width"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Height product </label>
                                            <div class="col-sm-9">
                                                <input type="number"  class="form-control" th:field="*{type.height}" name="height" id="height"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Depth product </label>
                                            <div class="col-sm-9">
                                                <input type="number"  class="form-control" th:field="*{type.depth}" name="depth" id="depth"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Weight product </label>
                                            <div class="col-sm-9">
                                                <input type="number"  class="form-control" th:field="*{type.weight}" name="weight" id="weight"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Quality Checking product </label>
                                            <div class="col-sm-9">
                                                <select class="select2 form-control" id="qualityChecking" name="qualityChecking">
                                                    <option value="">--Option Quality Checking--</option>
                                                    <option th:selected="${product.type.qualityChecking == 'Yes'}" value="Yes">Yes</option>
                                                    <option th:selected="${product.type.qualityChecking == 'No'}" value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">Star product </label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" th:field="*{star}" maxlength="1" name="star" id="star"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${titlePage} == 'View info product'" class="form-group">
                                        <div class="row">
                                            <label class="col-sm-3 control-label no-padding-right p_top">List Commet </label>
                                            <div class="col-sm-9">
                                                <div th:each="comment : ${product.comment}" class="list-comment">
                                                    <img th:src="${comment.image}" style="border-radius: 50%;" width="50" height="50">
                                                    <span style="font-size: 20px;font-weight: bold;" th:text="${comment.buyer}"></span>
                                                    <p class="mt-3" th:text="${comment.comtent}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <input type="submit" value="Add product" class="btn btn-info" id="addForm" th:if="${product.id} == null" />
                                            <input type="submit" value="Update product" class="btn btn-info" id="addForm" th:if="${product.id} != null and ${titlePage} != 'View info product'" />
                                            <!--<input type="reset" class="btn" value="Hủy">&nbsp;-->
                                            <a class="btn btn-warning" th:href="@{/product/list}">Back to List</a></div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.page-content-area -->
                </div>
                <!-- /.container-fluid -->

            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="/component/footer :: footer-area"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="/component/footer :: page-top"></a>

<!-- Logout Modal-->
<a th:replace="/component/footer :: logout-model"></a>

<!-- Script -->
<footer th:replace="/component/footer :: script-area"></footer>
<!-- End of Script -->

</body>
<script src="../../static/vendor/jqueryValidator/jquery.validate.min.js" th:src="@{/vendor/jqueryValidator/jquery.validate.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var product = [[${product}]];
    var title = [[${titlePage}]];
    var editProductUrl = /*[[@{/product/edit/}]]*/ "/product/edit/";
    var addProductUrl = /*[[@{/product/add}]]*/ "/product/add";
    jQuery(document).ready(function () {
        $("#addForm").on("click", function(e){
            e.preventDefault();
            if(product.id != null){
                $('#formInsert').attr('action', editProductUrl + product.id).submit();
            }else{
                $('#formInsert').attr('action', addProductUrl).submit();
            }

        });
        //kiem tra truong user
        $.validator.methods.name = function (value, element) {
            if (value === '') {
                return false;
            }
            return true;
        };
        //kiem tra truong status
        $.validator.methods.price = function (value, element) {
            if (value === '') {
                return false;
            }
            return true;
        };
        //kiem tra truong idColor
        $.validator.methods.idColor = function (value, element) {
            return  $( "input[name=idColor]:checked").length > 0;
        };
        $.validator.methods.priceColor = function (value, element) {
            if ((value === '' || value === null) && $( "input[name=idColor]:checked").length > 0) {
                return false;
            }
            return true;
        };
        $.validator.methods.description = function (value, element) {
            if (value === '') {
                return false;
            }
            return true;
        };
        $.validator.methods.longDescription = function (value, element) {
            if (value === '') {
                return false;
            }
            return true;
        };
        $.validator.methods.chkImage = function (value, element) {
            if (value === '') {
                return false;
            }
            return true;
        };
        $.validator.methods.imgproduct = function (value, element) {
            if (value == '') {
                return false;
            }
            return true;
        };
        $.validator.methods.type = function (value, element) {
            if (value === '') {
                return false;
            }
            return true;
        };
        $.validator.methods.material = function (value, element) {
            if (value === '') {
                return false;
            }
            return true;
        };

        $("#formInsert").validate({
            focusInvalid: true, // focus the last invalid input
            ignore: [],
            rules: {
                name: {
                    required: true,
                    maxlength: 100,
                    name: true
                },
                price: {
                    required: true,
                    price: true
                },
                idColor: {
                    idColor: true
                },
                priceColor: {
                    priceColor: true
                },
                description: {
                    required: true,
                    maxlength: 300,
                    description: true
                },
                longDescription: {
                    required: true,
                    maxlength: 2000,
                    longDescription: true
                },
                chkImage: {
                    required: true,
                    chkImage: true
                },
                promotionName: {
                    required: false
                },
                promotionPercent: {
                    required: false
                },
                imgproduct: {
                    required: true,
                    imgproduct: true
                },
                type: {
                    required: true,
                    type: true
                },
                material: {
                    required: true,
                    material: true
                },
                width: {
                    required: false
                },
                height: {
                    required: false
                },
                depth: {
                    required: false
                },
                weight: {
                    required: false
                },
                qualityChecking: {
                    required: false
                },
                star: {
                    required: false
                }
            },
            messages: {
                name: "Name Product field must not be blank and must no more than 100 characters",
                price: "Price Product field must not be blank",
                idColor: "Id Color field must not be blank",
                priceColor: "Price For Color field must not be blank",
                description: {
                    required: "Description Product field must not be blank",
                    maxlength: "Description Product field must no more than 300 characters"
                },
                longDescription: {
                    required: "Detailed Description Product field must not be blank",
                    maxlength: "Description Product field must no more than  2000 characters"
                },
                chkImage: "Image product field must not be blank",
                imgproduct: "Img product product field must not be blank",
                type: "Category field must not be blank",
                material: "Material field must not be blank"
            },
            errorPlacement: function (error, element) {
                if (element[0].type === 'checkbox') {
                    error.insertBefore(element.parent().parent().parent().parent());      // radio/checkbox?
                } else if (element.hasClass('select2')) {
                    error.insertAfter(element.next('span'));  // select2
                } else {
                    error.insertAfter(element);               // default
                }
            }
        });
        $('label.image-remove').on('click', function() {
            $(this).parent().html("");
        });
    });
</script>
</html>