<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<!--================ Start head link =================-->
<head th:replace="/component/header :: head-link"></head>
<!--================ End head link =================-->
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/component/header :: sidebar-area"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="/component/header :: topbar-area"></nav>
            <!-- End of Topbar -->


            <!-- Begin Page Content -->
            <!-- Content Row -->
            <div class="main-content">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="ml-2 h3 mb-0 text-gray-800" th:text="${titlePage}">List User</h1>
                </div>

                <div style="margin-bottom: 50px;" class="breadcrumbs" id="breadcrumbs">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/home}"><i class="default-icon fa fa-home home-icon"></i>  Home</a>
                            </li>
                            <li class="breadcrumb-item"><a th:href="@{/material/list}">List Material</a></li>
                            <li class="breadcrumb-item active" th:text="${titlePage}" aria-current="page">Data</li>
                        </ol>
                    </nav>
                    <!-- /.breadcrumb -->
                </div>
                <div class="page-content">
                    <div class="page-content-area">
                        <!-- /.page-header -->
                        <div class="col-xs-12 p-4">
                            <div th:replace="component/header::notice_box"></div>

                            <form id="formInsert" name="formInsert"  action="#"  th:object="${material}" method="POST"
                                  class="form-horizontal form-row-seperated">
                                <div th:replace="/component/header::alert-sub"></div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-3 control-label no-padding-right p_top">Icon Material (<span class="text-red">*</span>) </label>
                                        <div class="col-sm-9">
                                            <img width="150" th:src="${material.iconMaterial}" th:name="iconMaterial" th:field="*{iconMaterial}" class="image" />
                                            <input type="hidden" class="form-control input-image" th:name="iconMaterial" th:field="*{iconMaterial}"/>
                                            <input th:if="${titlePage} != 'View info material'" type="file" class="img mt-2 " name="img" id="img"/>
                                            <label th:if="${titlePage} != 'View info material'" class="btn-img" for="img">Choose image</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-3 control-label no-padding-right p_top">Content Material (<span class="text-red">*</span>) </label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" th:field="*{contentMaterial}" th:name="contentMaterial" maxlength="50"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" value="Add Material" class="btn btn-info" id="addForm" th:if="${material.id} == null" />
                                        <input type="submit" value="Update Material" class="btn btn-info" id="addForm" th:if="${material.id} != null and ${titlePage} != 'View info material'"   />
                                        <!--<input type="reset" class="btn" value="Hủy">&nbsp;-->
                                        <a class="btn btn-warning" th:href="@{/order/list}">Back to list</a></div>
                                </div>
                            </form>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.page-content-area -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="/component/footer :: footer-area"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="/component/footer :: page-top"></a>

<!-- Logout Modal-->
<a th:replace="/component/footer :: logout-model"></a>

<!-- Script -->
<footer th:replace="/component/footer :: script-area"></footer>
<!-- End of Script -->
<script src="../../static/vendor/jqueryValidator/jquery.validate.min.js" th:src="@{/vendor/jqueryValidator/jquery.validate.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var material = [[${material}]];
    console.log(material);
    var editMaterialUrl = /*[[@{/material/edit/}]]*/ "/material/edit/";
    var addMaterialrUrl = /*[[@{/material/add}]]*/ "/material/add";
    jQuery(document).ready(function () {
        $("#addForm").on("click", function(e){
            e.preventDefault();
            if(material.id != null){
                $('#formInsert').attr('action', editMaterialUrl + material.id).submit();
            }else{
                $('#formInsert').attr('action', addMaterialrUrl).submit();
            }

        });
        //kiem tra truong iconMaterial
        $.validator.methods.iconMaterial = function (value, element) {
            if (value === '') {
                return false;
            }
            return true;
        };
        //kiem tra truong contentMaterial
        $.validator.methods.contentMaterial = function (value, element) {
            if (value === '') {
                return false;
            }
            return true;
        };

        $("#formInsert").validate({
            focusInvalid: true, // focus the last invalid input
            ignore: [],
            rules: {
                iconMaterial: {
                    required: true,
                    iconMaterial: true
                },
                contentMaterial: {
                    required: true,
                    contentMaterial: true
                }
            },
            messages: {
                iconMaterial: "Icon Material field must not be blank",
                contentMaterial: "Content Material field must not be blank"
            }
        });
    });

</script>
</body>

</html>