/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #03658c;
    text-decoration: none;
}

ul {
    list-style-type: none;
}


a {
    cursor: pointer;
}

.shop_sidebar_area,
.amado_product_area.section-padding-100,
.products-catagories-area.clearfix,
.cart-table-area.section-padding-100,
.single-product-area.section-padding-100.clearfix{
    z-index: -1 !important;
}

/* start ./ product */

.single-product-wrapper .product-description .ratings-cart .cart>a>i {
    line-height: 29px;
    padding-right: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.single-product-wrapper .product-description .ratings-cart .cart>a>i:hover {
    color: red;
    /*background-color: red;*/
}
.widget.color .widget-desc ul li a {
    border: 1px solid #959595;
}
.widget.color .widget-desc ul li a:hover {
    border: 2px solid #fbb710;
}
/* end ./ product */

/* start ./ login */

td.remove-item {
    position: absolute;
    right: 30px;
    top: 0px;
    width: 10px !important;
    display: inline-block;
    height: 10px;
    color: red;
    cursor: pointer;
    border: none;
}
a.cart-nav.cart,
div.login-nav.login,
a.fav-nav{
    position: relative;
}
div.login-nav.login {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 0;
    color: #131212;
    line-height: 1;
	cursor: pointer;
}
div.login-nav.login>img {
    margin-right: 10px;
}
div.login-nav.login>span {
    color: #131212 !important;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    text-decoration: none;
    outline: 0 solid transparent;
    font-weight: 400;
}
div.login-nav.login>div.box-up>div>ul>li>a:hover,
div.login-nav.login>span.name:hover {
    color: #fbb710 !important;;
}
/* end ./ login */


/* start ./ box up in cart */

div.box-up {
    display: none;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    position: absolute;
    left: 170px;
    top: 0px;
    z-index: 100;
}

a.cart-nav.cart:hover div.box-up,
div.login-nav.login:hover div.box-up,
a.fav-nav:hover div.box-up{
    display: block !important;
}

div.login-nav.login>div.box-up>div>ul>li,
a.fav-nav>div.box-up>div>ul>li{
    width: 180px;
    color: #131212;
    padding: 2px 10px;
}
div.login-nav.login>div.box-up>div>ul>li>a,s
a.fav-nav>div.box-up>div>ul>li>a{
    font-size: 16px;
    text-transform: capitalize;
}

div#box-up-lst-prodcut-in-cast tr.lst-product-cart,
div#box-up-lst-prodcut-in-favourite tr.lst-product-cart{
    position: relative;
    padding: 0px .75rem;
    width: 296px;
    display: inline-block;
    max-width: 296px;
}

div#box-up-lst-prodcut-in-cast tr td.box-up,
div#box-up-lst-prodcut-in-favourite tr td.box-up{
    padding: 10px;
    border: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
}
div#box-up-lst-prodcut-in-cast tr td.box-up>a,
div#box-up-lst-prodcut-in-favourite tr td.box-up>a{
    padding: 0;
}
div#box-up-lst-prodcut-in-cast tr ,
div#box-up-lst-prodcut-in-cast tr td.box-up span ,
div#box-up-lst-prodcut-in-favourite td.box-up h5,
div#box-up-lst-prodcut-in-favourite tr td.box-up span{
    font-size: 13px;
    text-transform: capitalize;
}
#lst-product-in-favourite tr td.star>div.ratings>i {
    font-size: 13px;
    color: red;
}
/* end ./ box up in cart */

/* start ./ comment */
div.comment {
    width: 100%;
}
/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
    font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
    width: 768px;
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}
/* end ./ comment */