a {
    cursor: pointer;
}

.shop_sidebar_area,
.amado_product_area.section-padding-100,
.products-catagories-area.clearfix,
.cart-table-area.section-padding-100,
.single-product-area.section-padding-100.clearfix{
    z-index: -1 !important;
}

/* start ./ product */

.single-product-wrapper .product-description .ratings-cart .cart>a>i {
    color: red;
    line-height: 29px;
    padding-right: 10px;
    font-size: 16px;
    cursor: pointer;
}
/* end ./ product */

/* start ./ login */

td.remove-item {
    position: absolute;
    right: 30px;
    top: 0px;
    width: 10px !important;
    display: inline-block;
    height: 10px;
    color: red;
    cursor: pointer;
    border: none;
}
a.cart-nav.cart,
div.login-nav.login{
    position: relative;
}
div.login-nav.login {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 0;
    color: #131212;
    line-height: 1;
	cursor: pointer;
}
div.login-nav.login>img {
    margin-right: 10px;
}
div.login-nav.login>span {
    color: #131212 !important;
    -webkit-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    text-decoration: none;
    outline: 0 solid transparent;
    font-weight: 400;
}
div.login-nav.login>div.box-up>div>ul>li>a:hover,
div.login-nav.login>span.name:hover {
    color: #fbb710 !important;;
}
/* end ./ login */


/* start ./ box up in cart */

div.box-up {
    display: none;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    position: absolute;
    left: 170px;
    top: 0px;
    z-index: 100;
}

a.cart-nav.cart:hover div.box-up,
div.login-nav.login:hover div.box-up{
    display: block !important;
}

div.login-nav.login>div.box-up>div>ul>li {
    width: 180px;
    color: #131212;
    padding: 2px 10px;
}
div.login-nav.login>div.box-up>div>ul>li>a {
    font-size: 16px;
    text-transform: capitalize;
}

div#box-up-lst-prodcut-in-cast tr.lst-product-cart {
    position: relative;
    padding: 0px .75rem;
    width: 296px;
    display: inline-block;
    max-width: 296px;
}

div#box-up-lst-prodcut-in-cast tr td.box-up {
    padding: 10px;
    border: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
}
div#box-up-lst-prodcut-in-cast tr td.box-up>a{
    padding: 0;
}
div#box-up-lst-prodcut-in-cast tr td.box-up h5,
div#box-up-lst-prodcut-in-cast tr td.box-up span{
    font-size: 13px;
    text-transform: capitalize;
}
/* end ./ box up in cart */
